li.toggle-holder {
    display: flex;
}

li.toggle-holder .theme-toggler-div {

    display: flex;
    justify-content: center;
    align-items: center;
}

input.darktheme-checkbox {
    opacity: 0;
    position: absolute;
}

label.darktheme-label {
    background-color: rgba(0, 0, 0, .6);
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2px;
    padding-right: 2px;
    position: relative;
    height: 20px;
    width: 40px;
    color: white;
    margin: 0;
    font-size: 110%;
}

label.darktheme-label .ball {
    background-color: $primary;
    border-radius: 50%;
    top: 1px;
    left: 1px;
    position: absolute;
    height: 18px;
    width: 18px;
    transition: transform 0.2s linear;
}

.darktheme-checkbox:checked + .darktheme-label .ball {
    transform: translateX(20px);
}
